body{
    font-family:monospace;
    background-color:#333333;
    color:white;
    position:relative;
}

#pokemon_stats{
    flex:1.5;
    padding: 1rem;
    margin:0;
}

#big_name{
    width:100%;
    text-align:center;
}

#pokemon_description_row{
    height:35%;
    background-color:blue;
}

#big_image{
    background-color:red;
    flex:2;
}

#pokemon_view{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:15rem;
}

#pokemon_img_stats_row{
    display:flex;
    height:55%;
}

#searchbox{
    position:fixed;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 15rem;
    background-color:dimgrey;
    color:white;
    border:0;
    border-radius: 5px;
}

#pokemon_list{
    position:fixed;
    top:2.7rem;
    bottom:0;
    left:0;
    width:15rem;
    overflow-y:scroll;
    direction:rtl;
    text-align: left;
}

#pokemon_list::-webkit-scrollbar{
    width: 10px;
    background-color:transparent;
}

#pokemon_list::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 5px;
}

.pokedex-entry{
    background:transparent;
    border-radius:5px;
}

.pokedex-entry:hover{
    background:dimgrey;
}

.clickable{
    transition-property:background-color;
    transition-duration:0.3s
}

.hidden{
    display:none;
}
