body{
    font-family:monospace;
    background-color:#333333;
    color:white;
}

.pokedex-entry{
    background:transparent;
}

.pokedex-entry:hover{
    background:dimgrey;
}

.clickable{
    transition-property:background-color;
    transition-duration:0.3s
}
