body{
    font-family:monospace;
    background-color:#333333;
    color:white;
    position:relative;
}

#pokemon_stats{
    flex:1.5;
    padding: 1rem;
    margin:0;
    font-size:1.7rem;
}

#big_name{
    width:100%;
    text-align:center;
    height:10%
}

#pokemon_description_row{
    height:35%;
    background-color:#222222;
    border:2px solid grey;
    border-radius:20px;
    padding: 1rem;
    font-size:1.5rem;
}

#big_image{
    background-color:transparent;
    height:100%;
}

#pokemon_view{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:20rem;
}

#pokemon_img_stats_row{
    display:flex;
    height:55%;
}

#searchbox{
    position:fixed;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 15rem;
    background-color:dimgrey;
    color:white;
    border:0;
    border-radius: 5px;
}

#pokemon_list{
    position:fixed;
    top:2.7rem;
    bottom:0;
    left:0;
    width:20rem;
    overflow-y:scroll;
    direction:rtl;
    text-align: left;
}

#pokemon_list::-webkit-scrollbar{
    width: 10px;
    background-color:transparent;
}

#pokemon_list::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 5px;
}

ol#pokemon_list .pokedex-entry{
    background:transparent;
    border-radius:5px;
}

.pokemon-name{
    font-size: 1.5rem;
    padding: 0 0 0 1rem;
}

.pokedex-entry:hover{
    background:dimgrey;
}

.clickable{
    transition-property:background-color;
    transition-duration:0.3s
}

.hidden{
    display:none;
}

.capitalize{
    text-transform: capitalize;
}

p{
    text-indent: 2.5rem;
}
